* {
    box-sizing: border-box;
}
.row::after {
    content: "";
    clear: both;
    display: block;
}

[class*="col-"] {
    float: left;
    padding: 15px;
}
.col-1 {width: 8.33%;}
.col-2 {width: 16.66%;}
.col-3 {width: 25%;}
.col-4 {width: 33.33%;}
.col-5 {width: 41.66%;}
.col-6 {width: 50%;}
.col-7 {width: 58.33%;}
.col-8 {width: 66.66%;}
.col-9 {width: 75%;}
.col-10 {width: 83.33%;}
.col-11 {width: 91.66%;}
.col-12 {width: 100%;}


html body {
  margin: 0px 0px 0px 0px;
  font-family: Futura, "Trebuchet MS", Arial, sans-serif;
  text-align: center;
  color: black;
  max-width: 1240px;
  margin: 0 auto;
}

nav h1 {
  float: left;
  padding: 5px;
  margin: 0;
  color: black;
  cursor: default;
}


#nav {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  width: 100%;
  border-bottom: 2px solid black;
}

footer {
  clear: both;
  border-top: 2px solid;
  width: 100%;
  margin-top: 50px;
}

.github_logo {
  height: 25px;
  padding: 5px;
}

.container {
  display: flex;
}

figure {
  display: flex;
  flex-flow: column;
  padding: 5px;
  margin: auto;
}

figcaption {
  background-color: black;
  color: #fff;
  font: italic smaller sans-serif;
  padding: 3px;
  text-align: center;
}

figure img {
  width: 100%;
  border-radius: 10px;
}

section {
  padding-bottom: 50px;
}

section {
  padding: 15px;
}

.section-content {
  border-top: 2px solid black;
}

ul {
  text-align: left;
}
